@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
  --primary-bg: #ffffff; /* Background color */
  --primary-text: #2f2f2f; /* Text color */
  --accent: #ffcb74; /* Accent color */
  --card-bg: #f6f6f6; /* Card background */
  --progress-bg: #368439b3; /* Progress bar */
  --sidebar-bg: #2f2f2f; /* Sidebar background */
  --sidebar-text: #ffffff; /* Sidebar text */
  --extra:#dad5d5;
  --extra-extra:#e0e0e0;
  --so-extra:#5e5c5cc7;
  --accent-dark: #d9a856; /* Accent color */

}
/*forest*/
.forest-theme {
  --primary-bg: #9e786490;
  --primary-text: #0e0906b6;
  --accent:  #7d957a;
  --card-bg: #f7f8e5;
  --progress-bg: #368439b3;
  --sidebar-bg: #232d23;
  --sidebar-text: #ffffff; /* Sidebar text */
  --extra:#dad5d5;
  --extra-extra:#e0e0e0;
  --so-extra:#5e5c5cc7;
  --accent-dark: #6c8069;

}
/* High Contrast Theme 
.high-contrast-theme {
  --primary-bg: #ffffff;
  --primary-text: #402d21;
  --accent: #9abbd5;
  --card-bg: #fbf1e9;
  --progress-bg: #64b067b3;
  --sidebar-bg: #402d21;
  --sidebar-text: #ffffff;
  --extra:#fff3e7;
  --extra-extra:#f8efe7;
  --so-extra:#402f24;
}*/

/* monochrome */
.monochrome-theme {
  --primary-bg: #ececef;
  --primary-text: #949597;
  --accent: #373b4d;
  --card-bg: #bdbfb7;
  --progress-bg: #368439b3;
  --sidebar-bg: #949597;
  --sidebar-text: #ececef;
  --extra:#eef0eb;
  --extra-extra:#ececef;
  --so-extra:#ececef;
  --accent-dark:#2c2f3d; 

}


::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.filter{
text-align: right;}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: var(--sidebar-text);
    min-width: 0;
}
.table{
  font-size: 70%;
  }
.avatar {
    height: 40px;
    width: 40px;
}

.container-fluid{
  margin-left: 6%;
    width: 95%;
}
.row{
  width: 100%;
}
/*     SIDEBAR         */
#sidebar {
  width: 4.5%;
  height: 100%;
  z-index: 1000;
  transition: all .25s ease-in-out;
  background-color: var(--primary-text);
  display: flex;
  position: fixed;
  flex-direction: column;
}

#sidebar.expand {
  width: 12%;
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}

.toggle-btn i {
  font-size: 50%;
  color: var(--sidebar-text);
}

.sidebar-logo {
  margin: auto 0;
}

.sidebar-logo a {
  color: var(--sidebar-text);
  font-weight: 80;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span {
  animation: fadeIn .25s ease;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.sidebar-nav {
  padding: 7% 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: .625rem 1.625rem;
  color: var(--sidebar-text);
  display: block;
  font-size: 0.9rem;
  white-space: nowrap;
  border-left: 3px solid transparent;
}

.sidebar-link i,
.dropdown-item i {
  font-size: 120%;
  margin-right: 5%;
  margin-left: -20%
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, .075);
  border-left: 3px solid var(--card-bg);
}

.sidebar-item {
  position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 30px;
  background-color: var(--primary-text);
  padding: 0;
  min-width: 15rem;
  display: none;
}


#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all .2s ease-out;
}  
button .material-icons-outlined{
  font-size: 130%;
}

/*      CARDS      */
.main-cards {
  display: flex;
 width: 104.55%;  
gap: 2%;
  margin: 2% 0;
}
.card {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  border-radius: 0.5%;
}
.card h3 {
  font-size: 150%;
  padding: 2%;
  color: var(--card-bg); 
}
.card h1 {
  font-size: 80%;
  padding-bottom: 2%;
  text-align: left;
  margin: 0; 
  color: var(--card-bg);
}
.card:first-child,  .card:nth-child(3) {
  background-color: var(--primary-text);
}
.card:nth-child(2) {
  background-color: var(--accent);
}
.card-inner > .material-icons-outlined {
  font-size: 130%;
}
.progress {
  width: 100%; 
  height: 10px; 
  background: var(--extra-extra); 
  color: var(--card-bg);
  border-radius: 5px;
  margin-top: 10px; 
  position: relative; 
  overflow: hidden; 
}
.progress-bar {
  height: 100%; 
  background: var(--progress-bg); 
  border-radius: 5px; 
  position: absolute; 
  left: 0;
  top: 0;
}
.progress-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
}
.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-inner > .material-icons-outlined {
  font-size: 130%;
  color: var(--card-bg);
}
.label{color: var(--card-bg);}

/*     CHARTS    */
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.section p{
  text-align: center;
  font-size: 200%;
  padding-top: 5%;
font-family:inherit;
font-weight: bolder; 
color: var(--so-extra);}
.charts-card , .charts-card-tasks {
  background-color: var(--extra);
  padding: 2%;
  box-sizing: border-box;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
.chart-title {
  display: flex;
  font-family: 'fw-normal fs-4 my-3', sans-serif;
  font-size: 150%;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

/*    RESPONSIVE    */

@media (max-width: 768px) {
  .charts {
    grid-template-columns: 1fr; 
    gap: 15px;  }
    .container-fluid{
        width: 96%;
    }
    #sidebar{
      width: 8.5%;
    }
    .row{
      margin-left: 0.1%;
    }
    .sidebar-link i {
      font-size: 100%;
      margin-left: -20px;
    }
    #sidebar.expand {
      width: 45%;
    }
    button .material-icons-outlined{
      font-size: 100%;
      margin-left: -20px;

    }
    .chart-title{
      font-size: 100%;

    }
    .table{
      font-size: 60%;
    }
    
}


/*    dropdown menu      */
#theme-toggle-container {
  position: fixed;
  top: 10px;
  right:10px;
  margin-top: 10px;
  z-index: 1000;
}
#theme-toggle-button {
  cursor: pointer;
  width: 40px; 
  height: 40px;
}

.theme-selector {
  position: absolute;
  top: 0; 
  right: 0;
  background-color: var(--card-b);
  border: 1px solid var(--primary-text);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none; 
}

.theme-selector ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.theme-selector li {
  padding: 10px;
  cursor: pointer;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  transition: background-color 0.3s;
}

.theme-selector li:hover {
  background-color: var(--accent);
  color: var(--primary-bg);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
/* users cards*/
.user-cards-container, #user-cards-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.user-card {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.user-card p ,.user-card h5{
  color: var(--extra);
}


.new-card{
  display: flex;
  width: 30%;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1%;
}
.new-card:nth-child(odd) {
  background-color:var(--primary-text);
}

.new-card:nth-child(even) {
  background-color: var(--accent);
}
.btn{
  background-color: var(--accent);
  color: var(--primary-text);
  text-align: center;
  cursor: pointer;
  width: 70%;
  margin: 5px;
}
#task-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2% 0%;
}
.chart{
  padding: 2% 15%; 
}