:root {
    --primary-bg: #ffffff; /* Background color */
    --primary-text: #2f2f2f; /* Text color */
    --accent: #ffcb74; /* Accent color */
    --card-bg: #f6f6f6; /* Card background */
    --progress-bg: #368439b3; /* Progress bar */
    --sidebar-bg: #2f2f2f; /* Sidebar background */
    --sidebar-text: #ffffff; /* Sidebar text */
    --accent-dark: #d9a856; /* Accent color */
    --black:#111111;
    --extra:#ccc;
    --button:#555;
    --button-hover:#777;

  }/* Monochrome */
  .monochrome-theme {
    --primary-bg: #ececef;
  --primary-text: #949597;
  --accent: #373b4d;
  --card-bg: #d4d6cb;
  --progress-bg: #000000b3;
  --sidebar-bg: #949597;
  --sidebar-text: #ececef;
  --extra:#bdbfb7;
  --accent-dark:#2c2f3d; 
  --black:#111111;
    --button:#555;
    --button-hover:#777;
  } /* Forest */
  .forest-theme {
    --primary-text: #0e0906b6;
    --accent:  #7d957a;
    --card-bg: #f7f8e5;
    --progress-bg: #368439b3;
    --sidebar-bg: #232d23;
    --sidebar-text: #9e786490;
    --extra:#a26f5390;
    --accent-dark: #6c8069;
  --black:#111111;
    --button:#555;
    --button-hover:#777;
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-text);
    color: var(--card-bg);
}

.container {
    display: flex;
}

/* Vertical Navbar */
.navbar {
    background-color: var(--black);
    padding: 20px;
    width: 200px;
    height: 100vh;
    box-sizing: border-box;
}

.navbar h2 {
    color: var(--accent);
    margin-bottom: 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar a {
    color: var(--card-bg);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    background-color: var(--primary-text);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    background-color: var(--accent);
    color: var(--black);
}

/* Kanban Board */
.kanban-board {
    flex: 1;
    padding: 20px;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-filter input, .search-filter select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

.kanban-columns {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}

.kanban-column {
    align-items: start;
    background-color: var(--card-bg);
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: var(--black);
}

.kanban-column h2 {
    margin-top: 0;
    color: var(--primary-text);
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
.is-dragging {
scale: 1.05;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
background: rgba(50, 50, 50);
color: white;
}
.task {
    align-items: center;
    background-color: var(--accent);
    color: var(--black);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: move;
}

.new-task {
    background-color: var(--accent);
    color: var(--black);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.new-task:hover {
    background-color:var(--accent-dark);
}
#task-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-text);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    z-index: 100;
    color: var(--card-bg);
}

#task-form form {
    display: flex;
    flex-direction: column;
}

#task-form input[type="text"],
#task-form textarea,
#task-form input[type="date"],
#task-form select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: var(--card-bg);
    color: var(--primary-text);
    font-size: 16px;
}

#task-form button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#task-form button[type="submit"] {
    background-color: var(--accent);
    color: var(--black);
    margin-bottom: 10px;
}

#task-form button[type="button"] {
    background-color: var(--button);
    color: var(--card-bg);
}

#task-form button[type="button"]:hover {
    background-color: var(--button-hover);
}
/*theme toggle*/
#theme-toggle-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#theme-toggle-button {
    cursor: pointer;
    width: 40px; 
    height: 40px;
}

.theme-selector {
    position: absolute;
    bottom: 50px; 
    right: 0;
    background-color: var(--card-b);
    border: 1px solid var(--primary-text);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none; 
}

.theme-selector ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.theme-selector li {
    padding: 10px;
    cursor: pointer;
    color: var(--primary-text);
    background-color: var(--primary-bg);
    transition: background-color 0.3s;
}

.theme-selector li:hover {
    background-color: var(--accent);
    color: var(--primary-bg);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
/*end theme toggle*/
/*projects*/
.project-board {
    flex: 1;
    padding: 20px;
}

.project {

    border: 1px solid var(--extra);
    padding: 10px;
    margin: 10px;
    background-color: var(--card-bg);
    border-radius: 5px;
    
}

.project h3 {
    margin: 0;
    font-size: 20px;
}

.project p {
    margin: 5px 0;
}

.add-task-btn,.update-btn,.delete-btn{
    background-color: var(--accent);
    color: var(--black);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin: 5px;
}


#new-project-btn {
  
    background-color: var(--accent);
    color: var(--black);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.add-task-btn:hover ,.update-btn:hover,.delete-btn:hover,#new-project-btn:hover{
    background-color:var(--accent-dark);
}

.update-task,.delete-task{
    background-color: var(--card-bg);
    color: black;
    text-align: center;
    
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin: 5px;
}

#project-form, #update-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-text);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    z-index: 100;
    color: var(--card-bg);
}



#project-form form,#update-form form {
    display: flex;
    flex-direction: column;
}

#project-form input[type="text"],
#project-form textarea,
#project-form select,#update-form input[type="text"] ,#update-form textarea,#update-form select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: var(--card-bg);
    color: var(--primary-text);
    font-size: 16px;
}

#project-form button,#update-form button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

#project-form button[type="submit"] ,#update-form button[type="submit"] {
    background-color: var(--accent);
    color: var(--black);
    margin-bottom: 10px;
}

#project-form button[type="button"] ,#update-form button[type="button"] {
    background-color: var(--button);
    color: var(--card-bg);
}

#project-form button[type="button"]:hover,#update-form button[type="button"]:hover{
    background-color: var(--button-hover);
}

.project-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.project-column {
    width: calc(33.33% - 20px);  
    background-color: var(--card-bg);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: var(--black);
}

.project-column h2 {
    margin-top: 0;
    color: var(--primary-text);
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
#searchResults {
    width: 100%;
    min-height: 100px;
    padding: 3px;
    border: 1px solid #ddd;
    overflow-y: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: none;
}
.search-btn, .cancel-search-btn {
    background-color: var(--accent);
    color: var(--black);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 18%; 
    margin: 0 2px;
}

.search-btn:hover, .cancel-search-btn:hover {
    background-color: var(--accent-dark);
}